.odm-rotate-minimize-button img {
    transform: rotate(180deg);
}

.odm-rotate-maximize-button img {
    transform: rotate(0deg);
}

.odm-rotate-button {
    float: right;
    display: inline;
    cursor: pointer;
}

.odm-reviewer-margin {
    margin: 0 5px;
}

.odm-reviewer-size {
    width: 25px;
}

.odm-rotate-maximize-hub {
    height: auto;
}

.odm-rotate-minimize-hub {
    height: 35px;
}

.HUB {
    position: fixed;
    bottom: 0;
    left: 65px;
    z-index: 9999;
    color: white;
    text-align: center;
    min-width: 150px;
}

.odm-inline-block {
    display: inline-block
}

.odm-green {
    color: #91dc91;
}

.odm-inline {
    display: inline;
}

.odm-primary-color {
    color: white;
}

.odm-rule-passed {
    color: #91dc91;
}

.odm-rule-failed {
    color: #fd8e8e;
}

.odm-rule-warning {
    color: orange;
}

.odm-rule-passed:before {
    content: "\2713";
    color: #91dc91;
}

.odm-rule-failed:before {
    content: "\2717";
    color: #fd8e8e;
}

.odm-rule-warning:before {
    content: "\26a0";
    color: orange;
}

.odm-big-text {
    font-size: 16px;
}

.odm-small-text {
    font-size: 8px;
}

.odm-reviewer-approve {
    border: 2px solid #91dc91;
    height: 30px;
}

.odm-reviewer-no-approve {
    border: 2px solid #fd8e8e;
    height: 30px;
}

.odm-hub-header {
    background-color: #205081;
    height: 25px;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 5px 0;
    text-align: right;
}

.odm-hub-header li {
    margin-right: 5px;
    color: white;
    display: inline-block;
}

.odm-rule-element:before {
    position: absolute;
    margin-left: -1.3em;
    font-weight: bold
}

.odm-rule-list {
    margin-top: 0;
    padding-left: 2em;
    list-style-type: none;
    text-align: left;
}

.odm-pullrequest-link {
    line-height: 1;
    font-weight: bold;
}

.HUB-content {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -2px;
    padding-bottom: 15px;
}

.odm_settings_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100px;
}

.odm-hidden {
    display: none!important;
}

#odm-fixversion {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

.odm-merge-button-default {
}

.odm-merge-button-prod {
    background-color: orange !important
}

.odm-merge-button-upstream {
    background-color: #fd8e8e !important
}

.odm-merge-button-private {
}

.odm-hidden {
    display: none;
}

/* Buttons variations*/
.odm-button-danger {
    color: white;
    background-color: red !important;
}

.odm-button-warning {
    background-color: orange !important;
}

.odm-button-success {
    background-color: green !important;
}


/* Template generator styles */
h1.odm-h1 {
    font-size: 25px!important;
    font-weight: bold!important;
    margin-bottom: 10px!important;
}

h2.odm-h2 {
    font-size: 20px!important;
    font-weight: bold!important;
}

h3.odm-h3 {
    font-size: 20px!important;
}

.field-group {
    padding-left: 0!important;
}

label {
    width: 200px!important;
    text-align: left!important;
    margin-left: 0!important;
}

.odm-select-input {
    width: 160px;
    height: 28px;
    padding: 4px;
    font-size: 14px;
    line-height: 1.28571429;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: inherit;
    border-radius: 5px;
}

.odm-tab-link {
    cursor: pointer;
    width: 15px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0 2px;
    display: inline-block;
    border: 1px solid black;
    border-bottom: none;
    background: #ccc;
}

.odm-tab-link.active {
    position: relative;
    background: white;
}

.odm-tab-link.active:after {
    position: absolute;
    top: 100%!important;
    left: 0;
    width: 100%;
    background: white;
    height: 1px;
    content: '';
}

.odm-tab-content {
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.odm-tab-content:not(.active) {
    display: none;
}

.odm-dismiss-pr-template-generator-btn {
    cursor: pointer;
    color: orange!important;
}

.odm-see-pr-tool {
    margin-bottom: 10px!important;
}

.aui-button-primary:hover span.odm-btn-tooltip {
    display: block;
}

span.odm-btn-tooltip {
    position: absolute;
    display: none;
    left: -25%;
    top: -40px;
    background: #0052CC;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.odm-manage-template-buttons-container {
    width: fit-content!important;
    float: right!important;
}

.odm-buttons-group .aui-button-primary {
    position: relative;
}

.odm-buttons-group-title {
    padding: 10px 0;
}

.odm-pr-generator-tool-container {
    display: none;
    margin-top: 10px;
}

.odm-pr-generator-tool-container.show {
    display: block;
}

.odm-toggle-tool-btn {
    cursor: pointer;
}

#odm_refresh_button:active {
    box-shadow: 0 3px 0 #00823F;
    top: 3px;
}
